#!/usr/bin/env bash

export CCXT_API_KEY= <your key>,
export CCXT_API_SECRET= <your secret>
export FIXIE_SOCKS_HOST=<your proxy> 
export SCHEDULE_FORCE_RUN=true
export SKIP_DOWNLOAD_HISTORY=false
export TRADE_DRY_RUN=true

python src/analyse_and_trade_three_assets_weighted.py